<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vegetopia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--js -->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    <link href="styles2.css" rel="stylesheet">
  
<title>VegeTopia-Contacts</title>
</head>
<body>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<p>
		<p>
	<h3>
    <center>This is our amazing team!!  </center>
</h3>
</body>

<div class="container contacts">

        <!-- Three columns of text below the carousel - code changed to featureates below this code.-->
        <!--
        <div class="row">
          <div class="col-lg-4">
            <img id = "c1" class="rounded-circle" src="image1.jpg" alt="Generic placeholder image" width="240" height="240">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>/.col-lg-4 
          <div class="col-lg-4">
            <img id = "c2" class="rounded-circle" src="image2.jpg" alt="Generic placeholder image" width="200" height="200">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div> /.col-lg-4 
          <div class="col-lg-4">
            <img id = "c3" class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>/.col-lg-4
        </div>/.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Role in Project<span class="text-muted"></span></h2>
            <p class="lead">Writeup </p>
          </div>
          <div class="col-md-5">
            <!--<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
            <img id = "c1" class="rounded-circle" src="https://ca.slack-edge.com/T71BL7HJP-U7E6HFC0G-f936a0260b04-48" alt="Generic placeholder image" width="120" height="120">
            <h2>Timothy Yu</h2>
            <p>City</p>
            
          </div>
        </div>

        <hr class="featurette-divider">

         <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Role in Project<span class="text-muted"></span></h2>
            <p class="lead">Writeup </p>
          </div>
          <div class="col-md-5 order-md-1">
            <!--<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
            <img id = "c1" class="rounded-circle" src="https://ca.slack-edge.com/T71BL7HJP-U7EF6TH1P-ec9455e2e97c-72" alt="Generic placeholder image" width="120" height="120">
            <h2>Pallavi Donwad</h2>
            <p>Edison</p>
        </div>
    </div>
    <hr class="featurette-divider">

         <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Role in Project<span class="text-muted"></span></h2>
            <p class="lead">Writeup </p>
          </div>
          <div class="col-md-5">
            <!--<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
            <img id = "c1" class="rounded-circle" src="https://ca.slack-edge.com/T71BL7HJP-U7GAGKX1B-297a7da4963c-72" alt="Generic placeholder image" width="120" height="120">
            <h2>Gibraan Negron</h2>
            <p>City</p>
        </div>
    </div>

    <hr class="featurette-divider">

         <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Role in Project<span class="text-muted"></span></h2>
            <p class="lead">Writeup </p>
          </div>
          <div class="col-md-5 order-md-1">
            <!--<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
            <img id = "c1" class="rounded-circle" src="https://ca.slack-edge.com/T71BL7HJP-U7SL420JX-1167bca8cdd8-48" alt="Generic placeholder image" width="120" height="120">
            <h2>Anu Khandelwal</h2>
            <p>West Windsor</p>
        </div>
    </div>
        <hr class="featurette-divider">

         <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Role in Project<span class="text-muted"></span></h2>
            <p class="lead">Writeup </p>
          </div>
          <div class="col-md-5">
            <!--<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
            <img id = "c1" class="rounded-circle" src="https://ca.slack-edge.com/T71BL7HJP-U7RQB8JMV-955f2ba66d92-72" alt="Generic placeholder image" width="120" height="120">
            <h2>Michael Ilelaboye</h2>
            <p>City</p>
        <hr class="featurette-divider">
    </div>
</div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

</html>
