<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DyGraph page</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--jquery import-->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
   
    <!--dygraph -->
    <!--<script type="text/javascript" src="dygraph.js"></script>-->
    <!-- <script src="{{url_for('static', filename='dygraph.js')}}"></script> -->

    <!--dygraph stylesheet -->
	  <!-- <link rel="stylesheet" src="dygraph.css" />  -->
    <!--<script src="{{url_for('static', filename='dygraph.css')}}"></script>-->

    <!-- externally hosted dygraph refs -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" /> -->
    <!--local stylesheet with flask specific routing specified -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='dygraph.css') }}">



    <!--d3 v4 -->
    <script src="https://d3js.org/d3.v4.min.js" crossorigin="anonymous"></script> 


    

  </head>

  <body>

 <!--dropdown selector-->
    <div class="panel panel-default" style="overflow:auto; overflow-wrap:break-word">
      <div class="panel-body" style="background-color: #eee">
        <div class="form-group">
          <label for="selDataset">Choose a State:</label>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
    </div>    
  <!--dypgraph div hook -->
  <div id="graphdiv" style="width:700x; height:500px;""></div>
   
  	<!-- Bootstrap JS requirements: -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <!--dygraph_code.js = the js file to create our chart-->
    <!--<script type="text/javascript" src="dygraph_code.js"></script>-->
    <script src="{{url_for('static', filename='dygraph_code.js')}}"></script>
    
  </body>

</html>


