<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vegetopia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--js -->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    <link href="styles2.css" rel="stylesheet">
  
<title>VegeTopia-About</title>
</head>
<body>
	<h3>
    We explored the dataset of vegan/ vegetarian restaurants and wanted to find out best vegan/vegetarian restaurants,and analyze trends for their rating, price, cuisine. We allow the users to  explore these restaurants in the area. Provide them with restaurant specific details as a tooltip, and a link to chart of our recommendations.  
</h3>
</body>
</html>
