<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Vegetopia - Vegan and Vegetarian Grub Board</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
  <!-- Header -->
  <h1>Vegetopia!</h1>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Vegan and Vegetarian Grub Board</a>
      </div>
    </div>
  </nav>

  <!-- Image -->
  <img src="http://en.spongepedia.org/images/thumb/3/33/Spongebob!!!.jpg/180px-Spongebob!!!.jpg" alt="Spongebob!" />
  <br>
  <a href = "http://www.google.com" />
  <table>
  <tr>
    <th> COlumn 1 </th>
    <th> Column 2 </th>
    <th> Colimn 3 </th>
  </tr>
  <tr>
    <td> data 1 </td>
    <td> data 2 </td>
    <td> data 3 </td>
  </tr>
  </table>
  <ol>
    <li>List 1 </li>
    <li>List2  </li>

  </ol>

  <iframe width=""  height=""  src=""></iframe>



  <!-- Link with New Tab -->
  <a href="https://www.google.com" target="_blank">Opens new tab</a>
  <br>

  <!-- Bold Link -->
  <strong><a href="https://www.youtube.com">This is a bold link</a></strong>
  <br>

  <!-- Placeholder link -->
  <a href="#">This is placeholder link goes nowhere, for now</a>

</body>

</html>
