<!DOCTYPE html><html lang="en"><head>   <meta charset="utf-8" />   <title>Chart.js </title>      <!-- import plugin script -->   <script src='static/Chart.min.js'></script>   </head><body>

<p>
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link active" href="/">Veggietopia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/by_state">State Bar Graph</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/by_type">Type Bar Graph</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dygraph">DyGraph</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pie">Pie Chart</a>
  </li>
</ul>
</p>

<div class="jumbotron">
  <h1 class="display-6">Total Vegetarian Restaurants by State</h1>
</div>

<canvas id="myChart" width="400" height="400"></canvas>
<script>

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
        datasets: [{
            label: '# of Restaurants',
            data: [{% for item in values %}
                      {{item}},
                    {% endfor %}],
            backgroundColor: [
                "#CCCCCC", "#CCCCFF", "#FFCCFF", "#FFCCCC", "#FFCC99", "#FFCC66", "#FFCC33", "#FFCC00", "#CC9900", "#CC9933", "#CC9966", "#CC9999", "#CC99CC", "#CC99FF", "#FF99FF", "#FF99CC", "#FF9999", "#FF9966", "#FF9933", "#FF9900", "#CC6600", "#CC6633", "#CC6666", "#CC6699", "#CC66CC", "#CC66FF", "#FF66FF", "#FF66CC", "#FF6699", "#FF6666", "#FF6633", "#FF6600", "#CC3300", "#CC3333", "#CC3366", "#CC3399", "#CC33CC", "#CC33FF", "#FF33FF", "#FF33CC", "#FF3399", "#FF3366", "#FF3333", "#FF3300", "#CC0000", "#CC0033", "#CC0066", "#CC0099", "#CC00CC", "#CC00FF"
            ],
            borderColor: [
                "#CCCCCC", "#CCCCFF", "#FFCCFF", "#FFCCCC", "#FFCC99", "#FFCC66", "#FFCC33", "#FFCC00", "#CC9900", "#CC9933", "#CC9966", "#CC9999", "#CC99CC", "#CC99FF", "#FF99FF", "#FF99CC", "#FF9999", "#FF9966", "#FF9933", "#FF9900", "#CC6600", "#CC6633", "#CC6666", "#CC6699", "#CC66CC", "#CC66FF", "#FF66FF", "#FF66CC", "#FF6699", "#FF6666", "#FF6633", "#FF6600", "#CC3300", "#CC3333", "#CC3366", "#CC3399", "#CC33CC", "#CC33FF", "#FF33FF", "#FF33CC", "#FF3399", "#FF3366", "#FF3333", "#FF3300", "#CC0000", "#CC0033", "#CC0066", "#CC0099", "#CC00CC", "#CC00FF"
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});  

</script>
</body></html>